@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  
  --font-sans: "Mona Sans", sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-[#fdf6f2];
  }

  main {
    @apply px-4 md:px-8 lg:px-10;
  }
}

/* Hide scrollbar utility */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
html,body{
  scroll-behavior: smooth;
}